<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>POST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34AA3B8B1C170832000D0EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34AA3BA41C170832000D0EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34AA3BAF1C170832000D0EE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
